# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.EscapeRoom.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../:\WebProjects\EscapeRoom\.idea\.idea.EscapeRoom\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
